<div class="container">
  <div class="row">
    <div class="col-6">
      <label>Journals</label>
      <ng-select class="ng-input"
      [(ngModel)]="journalNames"
      [items]="journals"
      bindLabel="name"
      bindValue="name"
      [searchable]="true"
      [multiple]="true"
      [addTag]="true"
      placeholder="Select journals"
      >
    </ng-select>
    </div>
    <div class="col-2">
  <button type="submit" class="btn btn-primary" (click)="save()">Save</button>
  </div>
  </div>
  </div>



